extends layout

block content
  .wrapper
    .logo
      img(src='img/logo.png')
    a(href='http://twitter.com/srburnham' target='_blank')
      i.icon-twitter
    a(href='http://instagram.com' target='_blank')
      i.icon-instagram
    .container
      h3
        a(
          href='http://www.trybooking.com/131251' 
          target='_blank') 
          | Autumn Series Wild Bouquet Class
          br
          | Thurs 16th April
          br
          | 6:30-8:30PM
          br
          span.booking Book here.
        br
      h3
        a(
          href='http://www.trybooking.com/131317' 
          target='_blank') 
          | Mother's Day Bouquet Class
          br
          | Sun 10th May
          br
          | 10:30-12:00PM
          br
          span.booking Book here.
        br
      h3
        a(
          href='http://www.trybooking.com/131322' 
          target='_blank') 
          | Autumn Series Wreath Class
          br
          | Wed 13th May
          br
          | 6:30-8:30PM
          br
          span.booking Book here.
        br
      h3
        a(
          href='http://www.trybooking.com/131328' 
          target='_blank') 
          | Autumn Series Table Arrangement Class
          br
          | Wed 20th May
          br
          | 6:30-8:30PM
          br
          span.booking Book here.
        br
      h3
        a(
          href='http://www.trybooking.com/131330' 
          target='_blank') 
          | Floral Headpiece Masterclass
          br
          | Wed 27th May
          br
          | 6:30-9:00PM
          br
          span.booking Book here.
        br
      hr
      .mailchimp-form
        #mc_embed_signup
          form(
            action='http://looseleafstore.us8.list-manage.com/subscribe/post?u=0d197162d652cd28b50abeec3&amp;id=f9e68516d1'
            method='post'
            id='mc-embedded-subscribe-form'
            name='mc-embedded-subscribe-form'
            class='validate'
            target='_blank'
            novalidate=''
          )
            input(
              value=''
              name='EMAIL'
              class='email'
              id='mce-EMAIL'
              placeholder='Your Email'
              required=''
              type='email'
            )
            div(style='position: absolute; left: -5000px;')
              input(
                name='b_0d197162d652cd28b50abeec3_f9e68516d1'
                tabindex='-1'
                value=''
                type='text'
              )
            .clear
              input(
                value='Subscribe'
                name='subscribe'
                id='mc-embedded-subscribe'
                class='button'
                type='submit'
              )
      p Sign up for our latest class schedule, upcoming events and other news.
      hr
      .shop-info
        p Tue - Sat (10am - 5pm)
        p info@looseleafstore.com.au
          a(href='mailto:info@looseleafstore.com.au')
        p 9994 6865
          a(href='tel:9994 6865')
        p 31 Sackville St, Collingwood
          a(
            href='https://www.google.com.au/maps/place/31+Sackville+St/@-37.79875,144.985942,17z/data=!3m1!4b1!4m2!3m1!1s0x6ad6431f02aea0d5:0x27880a3f3c788295'
            alt='View Map'
            target='_blank'
          )
        
          
      
        
        
    h3 Welcome to roots!
    :markdown
      Find tutorials and documentation at http://roots.cx : )
